{% extends 'admin_unnies/base.html' %}

{% block content %}
    <body class="admin-log">
        <div class="log-in-box">
            <h1 class="log-in-title">
                <span>Unnies</span> Admin
            </h1>
            <h5 style="color:red;">{{ error }}</h5>
            <form class = "form-login" method = 'POST'>
                {% csrf_token %}
                <input type="email" name="username" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="admin-but">Login</button>
            </form>
        </div>
    </body>
{% endblock content %}